absl-py==1.2.0
aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
altair==4.2.0
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
ansi2html==1.8.0
anyio==3.4.0
apyori==1.1.2
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid @ file:///C:/ci/astroid_1592487315634/work
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.1
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
beautifulsoup4==4.11.1
bitarray @ file:///C:/ci/bitarray_1605065210072/work
bkcharts==0.2
bleach==1.5.0
blinker==1.5
bokeh==2.4.3
boto==2.49.0
boto3==1.24.45
botocore==1.27.45
Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.2.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chart-studio==1.1.0
click==8.0.3
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama==0.4.4
colorcet==3.0.0
colorlover==0.3.0
commonmark==0.9.1
comtypes==1.1.7
conda==4.13.0
conda-build==3.21.9
conda-package-handling @ file:///C:/ci/conda-package-handling_1649105961774/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography @ file:///C:/ci/cryptography_1601046905460/work
cufflinks==0.17.3
cyberdrop-dl==2.25.2
cycler==0.11.0
Cython @ file:///C:/ci/cython_1594829190914/work
cytoolz==0.11.0
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask @ file:///tmp/build/80754af9/dask-core_1602083700509/work
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
discord.py==1.7.3
distlib==0.3.4
distributed @ file:///C:/ci/distributed_1605066635297/work
Django==4.0.4
docopt==0.6.2
docutils==0.16
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.7.0
fire==0.1.2
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==2.0.2
Flask-Compress==1.12
flatbuffers==1.12
fonttools==4.28.5
frozenlist==1.3.0
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gallery-dl==1.22.2
gast==0.4.0
gevent @ file:///C:/ci/gevent_1601397627942/work
gitdb==4.0.9
GitPython==3.1.27
glob2==0.7
gofile-client==1.0.1
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1600885448389/work
grpcio==1.47.0
h5py==3.7.0
HeapDict==1.0.1
holoviews==1.15.0
html5lib==0.9999999
hvplot==0.8.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata==4.12.0
importlib-resources==5.4.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel==6.6.1
ipython==7.30.1
ipython-autotime==0.3.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.3.3
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.4
jupyter-core==4.9.1
jupyter-dash==0.4.2
jupyter-server==1.13.1
jupyterlab==3.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.2
jupyterlab-spreadsheet-editor==0.6.1
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kaggle==1.5.12
kaleido==0.2.1
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring @ file:///C:/ci/keyring_1601489747083/work
kiwisolver==1.3.2
lazy-object-proxy==1.4.3
lesscpy==0.15.0
libarchive-c==2.9
libclang==14.0.1
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///C:/ci/lxml_1603216366346/work
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.1.0
msgpack==1.0.0
multidict==5.2.0
multipledispatch==0.6.0
multitasking==0.0.10
navigator-updater==0.2.1
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.4.6
numba==0.51.2
numexpr==2.7.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauthlib==3.2.0
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.3.0
packaging==21.3
pandas==1.0.5
pandas-datareader==0.10.0
pandocfilters==1.5.0
panel==0.13.1
param==1.12.2
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.8.3
partd==1.1.0
path @ file:///C:/ci/path_1598358556930/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.2
pbr==5.9.0
peewee==2.8.8
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
pkginfo==1.6.1
plotly==4.14.3
plotly-express==0.4.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.4
psutil==5.9.1
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.21
pyct==0.4.8
pycurl==7.43.0.6
pydeck==0.7.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyflakes==2.2.0
Pygments==2.11.1
pylint @ file:///C:/ci/pylint_1598617153160/work
Pympler==1.0.1
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==3.0.6
PyPDF2==1.26.0
pyreadline==2.1
pyrsistent==0.18.0
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.2
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
python-slugify==6.1.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.0
PyWavelets @ file:///C:/ci/pywavelets_1601658407916/work
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole==5.3.1
QtPy==2.1.0
regex @ file:///C:/ci/regex_1602770567298/work
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
rich==12.5.1
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.9
Rtree==0.9.4
ruamel_yaml==0.15.87
s3transfer==0.6.0
schedule==1.1.0
scikit-image==0.17.2
scikit-learn==1.0.2
scipy @ file:///C:/ci/scipy_1604596260408/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
semver==2.13.0
Send2Trash==1.8.0
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip==4.19.13
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///C:/ci/spyder_1599054115447/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051709837/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1603818908746/work
sqlparse==0.4.2
statsmodels==0.13.2
stevedore==3.5.0
streamlit==1.11.1
sympy @ file:///C:/ci/sympy_1605101511098/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
Theano==1.0.5
threadpoolctl==3.1.0
tifffile==2020.10.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.0.1
tzdata==2022.1
tzlocal==4.2
ujson @ file:///C:/ci/ujson_1602505266082/work
unicodecsv==0.14.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
validators==0.20.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
watchdog @ file:///C:/ci/watchdog_1593447437088/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
Workon==0.8.2
wrapt==1.11.2
xgboost==1.6.1
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.27.11
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarg==0.1.9
yarl==1.7.2
yfinance==0.1.70
zict==2.0.0
zipp==3.7.0
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1602002494740/work
